version: "3.9"

services:
  backend:
    build: ./backend
    container_name: monetra_backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/.env
    restart: always

  db:
    image: postgres:15
    container_name: monetra_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: monetra
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d monetra"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: monetra_redis
    ports:
      - "6380:6379"
    restart: always

volumes:
  postgres_data:
